<%= form_with(model: budget) do |f| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter a name..." %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Enter a description..." %>
  </div>

  <div>
    <%= f.label :budget_type, style: "display: block" %>
    <%= f.select :budget_type, Budget::BUDGET_TYPES %>
  </div>

  <br>

  <div>
    <%= f.submit %>
  </div>
<% end %>
