<% provide(:title, "Budgets") %>

<div class="w-full max-w-full px-4">
  <!-- date select: centered, separate from summary -->
  <%= render "budget_date_select", selected_month: @selected_month %>

  <!-- begin budget table: @container so column visibility follows available width -->
  <div class="@container bg-white rounded-lg shadow mb-6 overflow-x-auto min-w-0">
    <table class="w-full min-w-max">
      <thead class="bg-gray-100">
        <tr>
          <th rowspan="2" class="px-4 py-2 text-left align-top w-48 min-w-48">Category</th>
          <% @display_months.each_with_index do |month, i| %>
            <th colspan="3" class="px-2 py-1 text-center text-sm <%= budget_month_col_visible(i) %>"><%= month.strftime("%b %Y") %></th>
          <% end %>
        </tr>
        <tr>
          <% @display_months.each_with_index do |month, i| %>
            <th class="px-2 py-1 text-right w-32 <%= budget_month_cell_min %> border-l-2 border-gray-400 <%= budget_month_col_visible(i) %>">Budget</th>
            <th class="px-2 py-1 text-right w-32 <%= budget_month_cell_min %> <%= budget_month_col_visible(i) %>">Actual</th>
            <th class="px-2 py-1 text-right w-32 <%= budget_month_cell_min %> border-r-2 border-gray-400 <%= budget_month_col_visible(i) %>">Balance</th>
          <% end %>
        </tr>
      </thead>
      <%= render "budget_table_body" %>
    </table>
  </div>
