<% provide(:title, "Ledgers") %>
<h1>Ledgers</h1>

<%= search_form_for @q do |f| %>

<%= f.label :category_id_in, 'Category' %>
<%= f.collection_select :subcategory_id_in, @current_budget.categories.expense, :id, :name, {include_blank: true}, {multiple: true} %>

<%= f.label :subcategory_id_in, 'Subcategory' %>
  <%= f.grouped_collection_select(
    :subcategory_id_in,
    @current_budget.categories.expense.includes(:subcategories),
    :subcategories,
    :name,
    :id,
    :name,
    {include_blank: true},
    {multiple: true}
  ) %>
  
  <%= f.label :date_gteq, 'From Date' %>
  <%= f.date_field :date_gteq %>

  <%= f.label :date_lteq, 'To Date' %>
  <%= f.date_field :date_lteq %>

  <%= f.submit "Filter" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link @q, :id, 'Id' %></th>
      <th><%= sort_link @q, :prev_id, 'Prev' %></th>
      <th><%= sort_link @q, :next_id, 'Next' %></th>
      <th><%= sort_link @q, :category_name, 'Category' %></th>
      <th><%= sort_link @q, :subcategory_name, 'Subcategory' %></th>
      <th><%= sort_link @q, :date, 'Date' %></th>
      <th><%= sort_link @q, :budget, 'Budget' %></th>
      <th><%= sort_link @q, :actual, 'Actual' %></th>
      <th><%= sort_link @q, :balance, 'Balance' %></th>
      <th><%= sort_link @q, :carry_forward_negative_balance, 'Carry Neg. Bal.' %></th>
      <th><%= sort_link @q, :user_changed, 'User Changed' %></th>
    </tr>
  </thead>
  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= link_to ledger.id, edit_ledger_path(ledger) %></td>
        <td style="text-align: center;"><%= ledger.prev_id || "head" %></td>
        <td style="text-align: center;"><%= ledger.next_id || "tail" %></td>
        <td style="text-align: left;"><%= "#{ledger.category.parent_id}: #{ledger.subcategory.category.name}" %></td>
        <td style="text-align: left;"><%= "#{ledger.category_id}: #{ledger.subcategory.category.name}" %></td>
        <td><%= ledger.date.strftime("%Y-%b") %></td>
        <td style="text-align: right;"><%= number_to_currency((ledger.budget / 100.0), precision: 2) %></td>
        <td style="text-align: right;"><%= number_to_currency((ledger.actual / 100.0), precision: 2) %></td>
        <td style="text-align: right;"><%= number_to_currency((ledger.balance / 100.0), precision: 2) %></td>
        <td style="text-align: center;">
          <%= check_box_tag nil, nil, ledger.carry_forward_negative_balance, disabled: true %>
        </td>
        <td style="text-align: center;">
          <%= check_box_tag nil, nil, ledger.user_changed, disabled: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

