<%= form_with(model: trx) do |f| %>
  <% if trx.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trx.errors.count, "error") %> prohibited this trx from being saved:</h2>

      <ul>
        <% trx.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
  <%= f.label :vendor %>
  <%= f.select :vendor_id, grouped_options_for_select({
      "Vendors" => @current_budget.vendors.not_transfer.order("LOWER(name)").map { |v| [v.name, v.id] },
      "Transfer" => @current_budget.vendors.transfer.order("LOWER(name)").map { |v| [v.name, v.id] }
    }, f.object.vendor_id), prompt: "Select Vendor" %>
</div>
<div>
  <%= f.label :account, "Account" %>
  <%= f.select(
    :account_id,
    grouped_options_for_select(@current_budget.accounts.for_select, f.object.account_id),
    {:prompt => 'Select Account'}
    ) %>
</div>
<div>
  <%= f.label :date %>
  <%= f.date_field :date, :value => (f.object.date || Date.today ) %>
</div>
<div>
  <%= f.label :memo %>
  <%= f.text_field :memo, placeholder:"Enter a memo..." %>
</div>
<div>
  <%= f.label :cleared %>
  <%= f.check_box :cleared %>
</div>
  <%= f.fields_for :lines do |line_form| %>

  <div>
    <%= line_form.label :id %>
    <%= line_form.object.id %>
    <%#= line_form.hidden_field :id %>  <!-- Ensures correct line is updated -->
  </div>
    <div>
      <%= line_form.label :subcategory %>
      <%= line_form.grouped_collection_select(
        :subcategory_form_id,
        @current_budget.categories.includes(:subcategories),
        :subcategories,
        :name,
        :id,
        :name,
        { prompt: 'Select Category'},
        { selected: line_form.object.subcategory_form_id } # Ensure selected value is set
      ) %>
    </div>

    <div>
      <%= line_form.label :amount %>
      <%# <%= line_form.number_field :amount, step: '0.01', placeholder: "Enter line amount" %>
      <%#= line_form.number_field :amount, value: line_form.object.amount.to_f / 100, step: '0.01', placeholder: "Enter line amount" %>
      <%= line_form.number_field :amount, value: (line_form.object.amount.to_f / 100).round(2), step: '0.01', placeholder: "Enter line amount" %>
      <%#= line_form.number_field :amount, step: '0.01', placeholder: "Enter line amount", value: formatted_amount_for_form(line_form.object.amount)  %>
    </div>
    <% if params[:action] == "edit" && trx.lines.size > 1 %>
      <div>
        <%= line_form.check_box :_destroy %>
        <%= line_form.label :_destroy, "Remove?" %>
      </div>
    <% end %>
  <% end %>

  


  <div>
    <%= f.submit %>
  </div>
<% end %>

  <!-- Add Line Button -->
  <% if @trx.persisted? %>
    <%= button_to "Add Line", add_line_to_trx_path(@trx), method: :post %>
    <%#= button_to "Add Line", add_line_to_trx_path(@trx), method: :post, data: { turbo_stream: true } %>
  <% else %>
    <%= button_to "Add Line", add_line_to_new_trx_path(@trx), method: :post %>
  <% end %>
