<%= form_with(model: trx) do |f| %>
  <% if trx.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trx.errors.count, "error") %> prohibited this trx from being saved:</h2>

      <ul>
        <% trx.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
  <%= f.label :vendor %>
  <br>
  <%= f.select :vendor_id, grouped_options_for_select({
      "Vendors" => @current_budget.vendors.not_transfer.order("LOWER(name)").map { |v| [v.name, v.id] },
      "Transfer" => @current_budget.vendors.transfer.order("LOWER(name)").map { |v| [v.name, v.id] }
    }, f.object.vendor_id), include_blank: "Select Vendor" %>
</div>
  <div>
    <%= f.text_field :vendor_custom_text, placeholder: "Enter new vendor name..." %>
  </div>
<div>
  <%= f.label :account, "Account" %>
  <br>
  <%= f.select(
    :account_id,
    grouped_options_for_select(@current_budget.accounts.for_select, f.object.account_id),
    {:prompt => 'Select Account'}
    ) %>
</div>
<div>
  <%= f.label :date %>
  <br>
  <%= f.date_field :date, :value => (f.object.date || Date.today ) %>
</div>
<div>
  <%= f.label :memo %>
  <br>
  <%= f.text_field :memo, placeholder:"Enter a memo..." %>
</div>
<div>
  <%= f.label :cleared %>
  <%= f.check_box :cleared %>
</div>

  <div id="lines">
    <%= f.fields_for :lines do |line_form| %>
      <div class="line-fields">
        <%= render 'line_fields', f: line_form %>
        <%= line_form.hidden_field :_destroy %>
        <%= button_tag "Delete Line", 
            type: 'button',
            onclick: "this.previousElementSibling.value = '1'; this.closest('.line-fields').style.display = 'none';" %>
      </div>
    <% end %>

    <%= button_tag "Add Line", 
        type: 'button',
        onclick: "const template = document.querySelector('#line-template').innerHTML;
                 const timestamp = new Date().getTime();
                 const newFields = template.replace(/NEW_RECORD/g, timestamp);
                 this.insertAdjacentHTML('beforebegin', newFields);" %>

    <template id="line-template">
      <div class="line-fields">
        <%= f.fields_for :lines, Line.new, child_index: 'NEW_RECORD' do |line_form| %>
          <%= render 'line_fields', f: line_form %>
          <%= line_form.hidden_field :_destroy %>
          <%= button_tag "Delete Line", 
              type: 'button',
              onclick: "this.previousElementSibling.value = '1'; this.closest('.line-fields').style.display = 'none';" %>
        <% end %>
      </div>
    </template>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
