<% provide(:title, "Edit Trx") %>
<h1>Editing trx</h1>

<% if @trx.transfer_child? %>
  <div class="alert alert-warning">
    <p>
      <strong>This is a transfer transaction.</strong> 
      Changes must be made to the original transaction instead.
    </p>
    <% if parent_trx = @trx.parent_transaction %>
      <%= link_to "Edit Original Transaction", edit_trx_path(parent_trx), class: "btn btn-primary" %>
    <% else %>
      <p>The original transaction could not be found.</p>
    <% end %>
  </div>
<% end %>

<%= render "form", trx: @trx %>

<div>
  <%#= link_to "Delete Transaction", trx_path(@trx), method: :delete, data: { confirm: 'Are you sure?'} %>


  <%= link_to "Delete Transaction", trx_path(@trx), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>

<br>
<div>
  <%= link_to "New Vendor", new_vendor_path %>
</div>

<br>

<div>
  <%= link_to "Back", request.referer || trxes_path %>
</div>