<% provide(:title, "Transactions") %>

<div class="page-header">
  <h1>Transactions</h1>
  <div class="actions">
    <%= link_to new_trx_path, class: "button" do %>
      <i class="fas fa-plus"></i> New Transaction
    <% end %>
    <%= link_to import_trxes_path, class: "button" do %>
      <i class="fas fa-file-import"></i> Import
    <% end %>
  </div>
</div>

<%= search_form_for @q, class: 'filter-form' do |f| %>
  <div class="filter-group">
    <div class="filter-field">
      <%= f.label :date_gteq, "Date From" %>
      <%= f.date_field :date_gteq %>
    </div>
    <div class="filter-field">
      <%= f.label :date_lteq, "Date To" %>
      <%= f.date_field :date_lteq %>
    </div>
  </div>

  <div class="filter-group">
    <div class="filter-field">
      <%= f.label :account_id_in, "Accounts" %>
      <%= f.collection_select :account_id_in,
          @accounts,
          :id,
          :name,
          {},
          { multiple: true, class: 'select2' } %>
    </div>
  </div>

  <div class="filter-group">
    <div class="filter-field">
      <%= f.label :vendor_id_in, "Vendors" %>
      <%= f.collection_select :vendor_id_in,
          @vendors.order('LOWER(name)'),
          :id,
          :name,
          {},
          { multiple: true, class: 'select2' } %>
    </div>
  </div>

  <div class="filter-group">
    <div class="filter-field">
      <%= f.label :lines_ledger_subcategory_category_id_in, "Categories" %>
      <%= f.collection_select :lines_ledger_subcategory_category_id_in,
          @categories,
          :id,
          :name,
          {},
          { multiple: true, class: 'select2' } %>
    </div>
  </div>

  <div class="filter-group">
    <div class="filter-field">
      <%= f.label :lines_ledger_subcategory_id_in, "Subcategories" %>
      <%= f.collection_select :lines_ledger_subcategory_id_in,
          @subcategories,
          :id,
          :name,
          {},
          { multiple: true, class: 'select2' } %>
    </div>
  </div>

  <%= f.submit "Filter", class: "button" %>
  <%= link_to "Clear", trxes_path, class: "button" %>
<% end %>

<table class="transactions">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Vendor</th>
      <th>Account</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Memo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @trxes.each do |trx| %>
      <tr>
        <td><%= link_to trx.id, edit_trx_path(trx) %></td>
        <td><%= trx.date %></td>
        <td><%= trx.vendor.name %></td>
        <td><%= trx.account.name %></td>
        <td class="amount"><%= number_to_currency(trx.amount / 100.0) %></td>
        <td>
          <% if trx.lines.size > 1 %>
            <span class="split-indicator">Split</span>
          <% else %>
            <%= trx.lines.first&.ledger&.subcategory&.category&.name %>
          <% end %>
        </td>
        <td><%= trx.memo %></td>
        <td class="actions">
          <%= link_to edit_trx_path(trx), class: "button" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to trx_path(trx),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "button danger" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= custom_pagy_nav(@pagy) %>