<%= form_with(model: scheduled_trx) do |f| %>
  <% if scheduled_trx.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(scheduled_trx.errors.count, "error") %> prohibited this scheduled transaction from being saved:</h2>

      <ul>
        <% scheduled_trx.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :next_date, "Next Date" %>
    <%= f.date_field :next_date %>
  </div>

  <div class="field">
    <%= f.label :frequency %>
    <%= f.select :frequency, ScheduledTrx::FREQUENCIES.map { |k, v| [v, k] } %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_field :memo, placeholder: "Enter a memo..." %>
  </div>

  <div class="field">
    <%= f.label :account %>
    <br>
    <%= f.select(
      :account_id,
      grouped_options_for_select(@current_budget.accounts.for_select, f.object.account_id),
      { prompt: 'Select Account' }
    ) %>
  </div>

  <div class="field">
    <%= f.label :vendor %>
    <br>
    <%= f.select :vendor_id, grouped_options_for_select({
        "Vendors" => @current_budget.vendors.not_transfer.order("LOWER(name)").map { |v| [v.name, v.id] },
        "Transfer" => @current_budget.vendors.transfer.order("LOWER(name)").map { |v| [v.name, v.id] }
      }, f.object.vendor_id), include_blank: "Select Vendor" %>
  </div>

  <div id="trx-lines">
    <h2>Lines</h2>
    <%= f.fields_for :scheduled_lines do |line_form| %>
      <%= render 'scheduled_line_fields', f: line_form %>
    <% end %>
  </div>

  <div class="button-group">
    <% if scheduled_trx.persisted? %>
      <%= link_to "Add Line", add_scheduled_line_to_scheduled_trx_path(scheduled_trx), class: "button", data: { turbo_method: :post, turbostream: true } %>
    <% else %>
      <%= link_to "Add Line", add_scheduled_line_to_new_scheduled_trx_path, class: "button", data: { turbo_method: :post, turbostream: true } %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>