<h1>New Scheduled Transaction</h1>

<% if @scheduled_trx.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@scheduled_trx.errors.count, "error") %> prohibited this scheduled transaction from being saved:</h2>
    <ul>
      <% @scheduled_trx.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @scheduled_trx) do |f| %>
  <div class="field">
    <%= f.label :next_date, "Next Date" %>
    <%= f.date_field :next_date %>
  </div>

  <div class="field">
    <%= f.label :frequency %>
    <%= f.select :frequency, ScheduledTrx::FREQUENCIES.map { |k, v| [v, k] } %>
  </div>

  <div class="field">
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.collection_select :account_id, @current_budget.accounts, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :vendor_id %>
    <%= f.collection_select :vendor_id, @current_budget.vendors, :id, :name %>
  </div>

  <div id="lines">
    <h2>Lines</h2>
    <%= f.fields_for :scheduled_lines do |line_form| %>
      <div class="line-fields">
        <%= render 'scheduled_line_fields', f: line_form %>
        <%= line_form.hidden_field :_destroy %>
        <%= button_tag "Delete Line", 
            type: 'button',
            onclick: "this.previousElementSibling.value = '1'; this.closest('.line-fields').style.display = 'none';" %>
      </div>
    <% end %>

    <%= button_tag "Add Line", 
        type: 'button',
        onclick: "const template = document.querySelector('#line-template').innerHTML;
                 const timestamp = new Date().getTime();
                 const newFields = template.replace(/NEW_RECORD/g, timestamp);
                 this.insertAdjacentHTML('beforebegin', newFields);" %>

    <template id="line-template">
      <div class="line-fields">
        <%= f.fields_for :scheduled_lines, ScheduledLine.new, child_index: 'NEW_RECORD' do |line_form| %>
          <%= render 'scheduled_line_fields', f: line_form %>
          <%= line_form.hidden_field :_destroy %>
          <%= button_tag "Delete Line", 
              type: 'button',
              onclick: "this.previousElementSibling.value = '1'; this.closest('.line-fields').style.display = 'none';" %>
        <% end %>
      </div>
    </template>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', scheduled_trxes_path %> 