<nav>
    <div class="">
        <%= link_to "MoneyApp", root_path %>
        <% unless current_user %>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
        <% else %>
            <%#= link_to "Budgets", budgets_path %>
            <%= link_to "All Transactions", trxes_path %>
            <%= link_to "Accounts", accounts_path %>
            <%= link_to "Reports", reports_path %>
            <%= link_to 'Edit profile', edit_user_registration_path %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
        <% if request.path.starts_with?('/reports') %>
        <hr>
        <div>
            <%= link_to 'Net Worth', net_worth_reports_path %>
            | <%= link_to 'Spending By Vendor', vendor_reports_path %>
            | <%= link_to 'Spending By Category', category_reports_path %>
            | <%= link_to 'Income v Expense', income_expense_reports_path %>
        </div>
        <% end %>
        <% if request.path.starts_with?('/users/edit') || request.path.starts_with?('/vendors') || request.path.starts_with?('/categories') || request.path.starts_with?('/ledgers') %>
        <hr>
        <div>
            <%= link_to "Vendors", vendors_path %>
            <%= link_to "Categories", categories_path %>
            <%= link_to 'Ledgers', ledgers_path %>
            <%= link_to "Transactions", trxes_path %>
        </div>
        <% end %>
            <p>
                User: <strong><%= current_user.email %></strong>
                <%# cannot use @current_budget, using current_user.current_budget %>
                <%# because @current_budget is skipped during Registrations#edit and Budgets#new %>
                <% if current_user.last_viewed_budget_id && budget= Budget.find(current_user.last_viewed_budget_id) %>
                    Budget: <strong><%= budget.name %></strong>
                <% else %>
                    No current budget
                <% end %>
                <%= link_to "Add Transaction", new_trx_path %>
            </p>
        <% end %>
    </div>
</nav>
