<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-[#2992c2] min-h-screen">

<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="w-64 flex-shrink-0">
    <% if current_user %>
      <%= render "layouts/sidebar" %>
    <% end %>
  </div>
  
  <!-- Main content area -->
  <div class="flex-1 min-h-0">

    <% if notice %>
      <div class="container mx-auto px-4 mt-4 lg:ml-64">
        <p class="notice bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
          <%= notice %>
        </p>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="container mx-auto px-4 mt-4 lg:ml-64">
        <p class="alert bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
          <%= alert %>
        </p>
      </div>
    <% end %>
    
    <div class="container mx-auto min-h-full">
      <%= yield %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal" %>

  </body>
</html>
