<% provide(:title, "Accounts") %>
<h1>Account: <%= @account.name%></h1>

<div>
  <%= link_to "Edit Account", edit_account_path(@account), data: { turbo_frame: "modal" } %>
</div>

<br>

<div>
  <%= link_to "New Transaction", new_trx_path %>
</div>

<table>
  <tr>
    <th>Edit</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Vendor</th>
    <th>Category</th>
    <th>Subcategory</th>
  </tr>
  <% @trxes.each do |trx| %>
    <tr>
      <td><%= link_to 'Edit', edit_trx_path(trx) %></td>
      <td><%= trx.date %></td>
      <td style="text-align: right;"><%= number_to_currency((trx.amount / 100.0), precision: 2) %></td>
      <td><%= trx.vendor.name %></td>
      <td><%= trx.category.name %></td>
      <td><%= trx.subcategory.name %></td>
    </tr>
  <% end %>
</table>

<br>

<div>
  <%= link_to "Back", request.referer || trxes_path %>
</div>
